.grid{
    background: rgba(255, 255, 255, 0.1);
}

.footer-first{
  
    font-family: 'Jost';
    font-style: normal;
    margin-top: 6rem;
    margin-left: 5rem;
    color: #ffffff;
  
}

.footer-address{
    font-size: 16px;
    margin-top: 15px;
    white-space: nowrap;
    font-family: 'Jost';
    font-style: normal;
     font-weight: 400; 
     line-height: 150%; 
}

.foot-first li{
    font-family: 'Jost';
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    flex: none;
    list-style: none;
    margin-bottom: 1rem;
}
.foot-first{
    margin-top: 4rem;
    color: #FFFFFF;
    margin-left: 6rem;
}

.all-footer{
    margin-top: 5rem;
}